/*---GLOBAL---*/
body{
    margin: 0px;
    overflow-x:hidden;
    font-family: "Microsoft JhengHei", 微軟正黑體;
}
button{
    font-size:16px;
}
a{
    /*連結前面不要有底線 */
    text-decoration: none;
}
li{
    /*連結前面不要有底線 */
    list-style: none;
}
/*---PICTURE---*/
.smallpic{
    max-width: 150px;
    max-height: 150px;
}
.pic{
    width:100%;
    border:2.5px solid lightblue;
}
/*---NAV---*/
nav{
    display: flex; /*並排*/
    flex-direction: column;
    width:100%;
    border-bottom: 1px solid #ccc;
}
nav>.navheader{
    /*垂直對齊、水平對齊都在容器的部分作處理*/
    flex:none; 
    display: flex; /*並排*/
    justify-content: space-between;/*水平對齊align:分散排列*/
    align-items:center; /*垂直對齊align:垂直至中(預設是靠上stretch)*/
    position:fixed;
    width:100%;
    height:60px;
    border-bottom: 1px solid #ccc;
    background:	rgb(0, 51, 102);
}
/*---NAV LOGO---*/
.navheader>.nav-logo{ 
    flex:none; 
    font-size:30px; 
    font-weight:bold;
    text-align: center;
    margin-left:50px;
    border-bottom: 1px solid #ccc;
}
.nav-logo>a{
    color:white;
}
/*---NAV NAVBAR---*/
.navheader>.nav-bar{
    flex:none;/*並排：不能夠彈性縮放*/
    margin-right:10px;
}
.nav-bar-ul{                /*ul*/
    text-align: center;
	font-size:16px;
}
/*會套用到nav-bar-ul以下所有的li*/
.nav-bar-ul li{
    display:inline-block;   /*選單並排顯示*/
}
.nav-bar-ul a{
    color:darkgray;       /*選單連結-字的顏色*/
    display:block;          /*讓連結範圍能到整個li區塊*/
    padding:20px;           /*padding被包含在a範圍裡*/
}
.nav-bar-ul a:hover{
    color:white;       
}
.nav-bar-ul a:checked{
    color:white;      
}
.dropdown-li{
    color:darkgray;       /*選單連結-字的顏色*/
    display:block;  
    position: relative;
    padding:20px;
}
.dropdown-li:hover >.drop-menu {
    display: flex;
    border:black 1px solid;
}
.drop-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right:0%;
    top:100%;
    width: 100px;
    padding:0px;
    border:black 1px solid;
    background-color: rgb(103, 108, 112);
}
.drop-menu li {
    flex:none;
    border-top:1px solid gray;
}
.drop-menu li a{
    padding:20px 0px;
    color:white
}
.drop-menu li a:hover{
    background-color: rgb(211, 214, 216);
}
/*---NAV COVER---*/
nav>.cover{
    flex:none;
    text-align:center;
    min-height: 200px;
    padding:0% 9%;
  /* margin:0% 1%;*/
    margin-top:60px;  /*不然會被nav給擋住上面QQ*/
    border:3px solid rgb(70, 70,70);
}
.coverphoto{
    width:100%;
}
/*---FOOTER---*/
footer{
    background:rgb(0, 51, 102);
    width:100%;
    height:auto;
    /*垂直對齊、水平對齊都在容器的部分作處理*/
    display: flex; /*並排*/
    padding:25px 0px;
    justify-content: center;/*水平對齊align:分散排列*/
    flex-flow:wrap;  
}
footer>.footerinfo{
    flex:none;
    text-align: center;
    color:white;
    width:100%;
    height:100%;
    font-size:14px;
}
#btmedia{
    width:5%;
    height:10%;
}

@media screen and (max-width:550px){
    .navheader>.nav-logo{  
        margin-left:8px;
        font-size:18px; 
    }
    .nav-bar-ul a{
        padding:3px;           /*padding被包含在a範圍裡*/
    }
    .drop-btn{
        padding:3px;
    }
    .nav-bar-ul{
        padding:0px;           /*padding被包含在a範圍裡*/
    }
}
@media screen and (max-width:850px){
    .navheader>.nav-logo{ 
        margin-left:30px;
    }
    .nav-bar-ul a{
        padding:12px;
    }
    .drop-btn{
        padding:12px;
    }
    .fblogo{
        width:7.5%;
        height:15%;
    }
}