/*---ASIDE---*/
aside{
    display: inline-flex; /*並排*/
    width:15%;
    height:auto;
}
aside a{
    font-size:16px;
    color:white;
}
aside ul{
    padding:0px;
    margin-left:20px;
    width:100%;
    background:	rgb(0, 51, 102); 
    border-radius: 5px;
}
aside li{
    text-align: center;
    padding:15px  0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
aside li:hover{
    background-color: rgba(88, 163, 206, 0.6);  ;
}

/*---MAIN---*/
main{
    /*垂直對齊、水平對齊都在容器的部分作處理*/
    display: inline-flex; /*並排*/
    justify-content:flex-start;
    flex-flow:wrap;
    width:80%;
    height:auto;
}
main>.member{
    flex:none;
    display:flex;
    width:100%;
    margin:30px 0px;
}
.member>.memberform{
    flex:none;
    display:flex;
    width:100%;
    justify-content:center; /*置中*/
    margin:0px;             /*form有預設margin*/
}
.memberform>.memberfieldset { 
    flex:none;
    width:70%;
    padding:15px;
    border:3px lightgrey solid;
    border-radius: 25px;
    font-size:18px;
}
.memberfieldset li{
    margin:15px;
} 
#btform{
    display:inline-block;
    width:100px;
    height:40px;
    margin:20px 0px 0px 0px;
    border:0px;
    border-radius: 10px ;
    line-height: 40px;
    color:white;
    background:darkcyan;
}
/*input,select*/
fieldset input,select{
    width:300px;
    font-size:16px; 
    padding:2px 5px;
    border:1px lightgray solid;
    border-radius:2px;
} 
@media screen and (max-width:850px){
    main{
        width:100%;
    }
    aside{
        display: none; /*並排*/
    }
    .memberfieldset {
        width:85%;
    }
}

